@keyframes gradientShift {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}

.bg-gradient-shift:hover {
  background-size: 200% 100%;
  background-image: linear-gradient(52deg, rgba(44,182,125,1) 0%, rgba(114,137,244,1) 51%, rgba(44,182,125,1) 100%);
  animation: gradientShift 3s linear infinite;
}

.bg-gradient-shift {
    background-image: linear-gradient(52deg, rgba(114,137,244,1) 0%, rgba(44,182,125,1) 100%);;
}